.navbar {
  display: flex;
  justify-content: space-between; /* Логотип слева, бургер-меню справа */
  align-items: center; /* Выровнять все элементы по вертикали по центру */
  padding: 20px 30px; /* Отступы вокруг навигационной панели */
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Сохраняем позицию для внутренних элементов */
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #ff6600;
  text-decoration: none;
  margin-right: 35px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #1a1919;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 18px;
}

.nav a:hover {
  color: #ff6600;
}

.burger-menu {
  display: none; /* По умолчанию скрыто, показывается на мобильных устройствах */
  font-size: 24px;
  cursor: pointer;
  align-self: end; 
  
}

/* Стили для мобильной версии */
@media (max-width: 768px) {
  .nav {
    display: none; /* Скрываем навигацию на мобильных устройствах */
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 10;
  }

  .nav.open {
    display: flex; /* Показываем меню при нажатии на бургер */
  }

  .burger-menu {
    display: block; /* Показываем бургер-меню на мобильных устройствах */
    
  }

  .nav-item {
    padding: 10px 0;
  }

  .nav a {
    font-size: 20px;
    font-weight: bold;
  }
}
