<section id="contact" class="contact">
    <div class="contact-container">
      <div class="contact-info">
        <h2>Contact us!</h2>
        <p>+1 (415) 571-0531</p>
        <p>461 Grove Ave, Wood Dale, IL 60191</p>
  
        <div class="contact-icons">
          <a href="mailto:info@zehandyman.com"><i class="fas fa-envelope"></i></a>
          <a href="tel:+14155710531"><i class="fas fa-phone-alt"></i></a>
          <a href="#"><i class="fas fa-globe"></i></a>
        </div>
      </div>
  
      <div class="contact-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2960.2295672905724!2d-87.98631178455669!3d41.96532177921424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fb3e631d634a5%3A0x528fbd4e5d3c4cc3!2s461%20Grove%20Ave%2C%20Wood%20Dale%2C%20IL%2060191%2C%20USA!5e0!3m2!1sen!2s!4v1696434528972!5m2!1sen!2s"
          width="100%"
          height="300"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </section>
