<app-header></app-header>


<!-- Главная страница -->
<section id="home" class="home">
  <h1>Quality Service, Quality Results</h1>
  <button class="cta-button">Get Free Estimate</button>
</section>

<!-- Услуги -->
<section id="services" class="services">
  <h2>General Contractor Services</h2>
  <div class="service-list">
    <div class="service-item">
      <i class="fas fa-tools icon"></i>
      <h3>General Contractor Services</h3>
      <ul>
        <li>Home Remodeling</li>
        <li>Kitchen Remodeling</li>
        <li>Bathroom Remodeling</li>
        <li>Home Additions</li>
        <li>ADUs</li>
      </ul>
    </div>
    <div class="service-item">
      <i class="fas fa-water icon"></i>
      <h3>Plumbing Services</h3>
      <ul>
        <li>Full house water repiping</li>
        <li>Water line repair</li>
        <li>Sewer line</li>
        <li>Kitchen sink installation</li>
        <li>Faucet installation</li>
        <li>Bathtub installation</li>
      </ul>
    </div>
    <div class="service-item">
      <i class="fas fa-fan icon"></i>
      <h3>Heating, Ventilation, and Air Conditioning</h3>
      <ul>
        <li>HVAC system maintenance</li>
        <li>HVAC installation or replacement</li>
        <li>HVAC system repair</li>
      </ul>
    </div>
    <div class="service-item">
      <i class="fas fa-cube icon"></i>
      <h3>Custom Kitchen Cabinets</h3>
    </div>
  </div>
</section>



<!-- Проекты -->
<!-- Общий контейнер для About и Projects -->
<section id="about-projects" class="about-projects-container">
  <div class="content-wrapper">
    <!-- Блок About -->
    <div class="about-content">
      <h2>About Our Company</h2>
      <p>Dedicated to Excellence and Quality</p>
      <div class="about-description">
        <p>
          Welcome to our family-operated business! We specialize in turning your ideas into reality with our team of experienced professionals. With years of hands-on experience, we offer valuable suggestions and innovative solutions for your projects.
          Our commitment is to deliver high-quality and long-lasting results for every customer. Contact us today to schedule an appointment or to learn more about how we can help you achieve your goals.
        </p>
      </div>
    </div>

    <!-- Блок Projects -->
    <div class="projects-slider">
      <h2>Our Projects</h2>
      <app-image-slider [slides]="slides" [animationSpeed]="500" [indicatorsVisible]="true"></app-image-slider>
      <button (click)="openModal()" class="show-more-button">Show More</button>

      <!-- Модальное окно -->
      <div class="modal" [ngClass]="{ 'show': isModalOpen }">
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <h2>All Projects</h2>
          <div class="gallery-images">
            <div *ngFor="let image of images" class="gallery-item">
              <img [src]="image.url" alt="Project Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="testimonials" class="testimonials">
  <h2>What Our Clients Say</h2>
  <div class="reviiew-container">

    <div class="testimonial-container">
      <div class="testimonial-column">
        <img src="assets/chengYu.png" alt="">
        <p>"This team just completed an exterior door installation for my house. I'd like to give them a call as best handyman service..."</p>
      </div>
      <div class="testimonial-column">
        <img src="assets/annie.png" alt="">
        <p>"Ali showed up exactly at our scheduled time to replace my garbage disposal and fix a hole in my wall..."</p>
      </div>
      <div class="testimonial-column">
        <img src="assets/roberto.png" alt="">
        <p>"It's been around three years since I reviewed Zest4, so I think it is time for me to provide an update on how ..."</p>
      </div>
      <div class="testimonial-column">
        <img src="assets/josephine.png" alt="">
        <p>I reached out to them on Yelp and got a response/quote from Naku within the hour. She told me that Ali was available the next day. I thought...</p>
      </div>
      <div class="testimonial-column">
        <img src="assets/thomas.png" alt="">
        <p>Oh wow. I am def going to call Ali (and Nasar) up for next jobs. They're awesome...</p>
      </div>
      <div class="testimonial-column">
        <img src="assets/vonn.png" alt="">
        <p>I have only looked for 3 things when finding a handyman, which is why I didn't have one until I reached out to Naku and his team...</p>
      </div>
    </div>
    
    <button class="yelp-button">Go to Yelp</button>

  </div>
  
</section>



<!-- Контакты -->
<section id="contact" class="contact">
  <h2>Contact Us</h2>
  <button class="call-button">
    <a href="tel:+1234567890">Call Us Now</a>
  </button>
  <div class="map">
   <!-- <google-map height="400px" width="100%" [center]="{lat: 40.7128, lng: -74.0060}" zoom="12"></google-map>-->
  </div>
</section>
